<div id="root">
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
        	Realtime Search Box
        </h1>
        <typeahead></typeahead>
      </div>
    </div>
  </section>
</div>

<div id="root">

</div>

<script>require('frontend/js/app').init();</script>
